<app-nav-bar></app-nav-bar>
<form class="mat-flex-form">
  <div data-netlify-identity-button></div>
  <div class="mat-headline-1">Welcome to AI image generator</div>
  <p class="mat-subtitle-2">Use the power of Artificial Intelligence to create stunning visual arts and photography -
    simply by typing in the
    description.</p>
  <mat-form-field class="mat-form-field">
    <mat-label>Description</mat-label>
    <input matInput #message maxlength="256" type="text" [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="start">Try it for free ({{userService.getUserInteractions()}} T available). </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
  <div class="mat-button">
    <button id="btnGenerate" mat-raised-button color="accent" (click)="generatePhotos()">Generate</button>
  </div>
</form>

<ng-template [ngIf]="generatedImages">
  <div class="images-list">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let photo of generatedImages">
        <img src={{photo.url}} />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>

<div class="images-list">
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor=" let image of images">
      <img src={{image.url}} />
    </mat-grid-tile>
  </mat-grid-list>
</div>